NEXT_PUBLIC_SUPABASE_URL=https://qxftsjvhzpldcicoofnh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4ZnRzanZoenBsZGNpY29vZm5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2NDQzMTcsImV4cCI6MjA4NzIyMDMxN30.M8RLuQm673uCJWXn5V09j5Z6h_Gyq0C21uXlMR9CkCU
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
